body {
  background-color: #000;
}

.app {
  padding: 20px;
}

h1 {
  color: #ccc; /* Deixei cinza claro para não sumir */
  background-color: #111;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333; /* Borda sutil */
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  text-align: center;
}
